
h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  height:326px;
  /*overflow-x:auto;*/
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 20px 15px;
  text-align:center;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
td{
     padding: 15px;
     text-align: center;
     vertical-align:middle;
     font-weight: 300;
     font-size: 12px;
     color: #fff;
     border-bottom: solid 1px rgba(255,255,255,0.1);
 }
td a{
    padding: 15px;
    text-align: center;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
    text-decoration: none;
}


/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: 'Roboto', sans-serif;
}
section{
  margin: 50px;
}


/* follow me template */
.made-with-love {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff;
}
.made-with-love i {
  font-style: normal;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: #fff;
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.pagebean{
    list-style: none;
    position: absolute;
    right: 51px;
}
.pagebean li{
    float: left;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border: solid 1px transparent;
}
.pagebean li a {
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 15px;
}
.pagebean li:hover{
    cursor: pointer;
}

#fm{
    position: absolute;
    top: 0;
    right: 51px;
}
.search {
    width: 180px;
    height: 27px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid transparent;
}
.search_button {
    width: 38px;
    height: 29px;
    font-size: 13px;
    background: rgba(255,255,255,0.9);
    margin-left: -5px;
    margin-top: -4px;
    padding: 4px;

    border: 1px solid transparent;
    border-radius: 5px;
    color: rgb(37, 196, 129);
    vertical-align: middle;
}
.page{
    width: 80px;
}